
.main {
    grid-area: main;
}
.main_wrapper {
}
.main_top_wrapper {
    display: flex;
    flex-direction: row;
    padding: 85px 251px 99px 250px;
    background-image: url(../../images/main/main_background_image.png);
    background-size: cover;
}
.main_top_description, .main_bottom_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main_bottom_description {
    width: 379px;
}
.main_top_description h2 {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 54px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.main_top_description h2 {
    color: #F6F7FF;
}
.main_bottom_description h2 {
    color: #1F1E25;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 56px */
    text-align: left;
}
.main_top_description p, .main_bottom_description p {
    margin: 25px 0 0;
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
}
.main_top_description p {
    color: #E0E1EA;
}
.main_bottom_description p {
    color: #707C87;
}
.main_top_description_button, .main_bottom_description_button {
    width: 234px;
    border-radius: 4px;
    padding: 20px 0;
    margin-top: 29px;
    border: transparent;
    text-decoration: none;
}
.main_top_description_button {
    background: #F6F7FF;
}
.main_bottom_description_button {
     background: #2C36F2;
 }
.main_top_description_button span, .main_bottom_description_button span {
    width: 234px;
    height: 53px;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.main_top_description_button span {
    color: #707C87;
}
.main_bottom_description_button span {
     color: #F6F7FF;
 }

.main_top_img_area, .main_bottom_img_area {
    margin-left: auto;
}

.main_bottom_wrapper {
    display: flex;
    flex-direction: row;
    padding: 120px 250px 120px 250px;
    background: #FFF;
}

